*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: Roboto;
}
ul li {
    margin-left: 50px;
    font-size: 35px;
    height: 100%;
}
ul li:hover{
    background-color: white;
    color:black;
    transition: 0.5s ease-in-out;

}
.wrapper{
    width: 70%;
}
.row   {
    display: flex;

}
.wrapper{
    display: flex; justify-content: space-evenly; align-items: center;;
}
a:visited{
    color: white;
}
.courses {
    box-shadow: 0 4px 4px rgba(0,0,0,0.5);
    margin: 25px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.2s ease-in-out;
}
.courses p {
    margin: 10px;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}
.courses:hover{
    background-color: orange;
    color: white;
}
.courses img {
    border-radius: 25px;
}
form p{
    font-size: 25px;
    margin:25px;
}
button {
    background-color: green;
    color: white;
    border: 0 none none;
    border-radius: 10px;
    border-style: none;
    font-size: 25px;
    padding: 5px 15px;
}